#player {
  float: left;
}

#controls {
  float: left;
  margin: 10px;
}

footer {
  clear: both;
  padding: 10px;
}

.btn_remover {
  padding: 2px;
  line-height: 0px;
  min-height: 0px;
  margin-left: 5px;
}
